#title {
    margin-left: 400px;
    height: 200px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: red;
    font-size: 32px;
}

body {
    background-image: url("https://images4.alphacoders.com/793/79376.jpg");
    background-size: cover;
    color: white;
}


.container {
    opacity: .95;
    font-size: 24px;
}


#blue {
    color: blue;
}

#green {
    color: green;
}

#red {
    color: red;
}

#yellow {
    color: yellow;
}

#one {
    height: 100px;
    width: 100px;
    margin: 30px;
    margin-left: 300px;
}

#two {
    height: 100px;
    width: 100px;
    margin: 30px;

}

#three {
    height: 100px;
    width: 100px;
    margin: 30px;
}

#four {
    height: 100px;
    width: 100px;
    margin: 30px;

}


h2 {
    color: red;

}
